<div class="d-flex mt-3">
  <div class="row justify-content-center align-items-center">
    <div
      class="card mx-2 my-2 justify-content-around"
      style="width: 20rem"
      *ngFor="let fs of foods"
    >
    <a routerLink="/food/{{fs.id}}">

      <img src="{{ fs.imageURL }}" class="card-img-top" alt="..." />
      <div class="card-body position-relative">
        <h5 class="card-title">
          {{ fs.name }}<span class="favourite ms-5">♥</span>
        </h5>
        <div class="footer d-flex justify-content-between align-items-center">
          <div class="origin text-secondary">
            <span *ngFor="let origins of fs.origins">
              {{ origins }}
            </span>
          </div>
          <div class="cookTime text-primary">
            <p>⏲ cook-Time:{{ fs.cookTime }}</p>
          </div>
        </div>
        <div class="price text-secondary">
          <h5>{{ fs.price }}$</h5>
        </div>
        <div class="cart-btn">
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>
